<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Social Share
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="shareTwitter()">Share on Twitter</ion-button>
  <ion-button expand="full" (click)="shareEmail()">Share by Email</ion-button>
  <ion-button expand="full" (click)="shareFacebook()">Share on Facebook</ion-button>
  <ion-button expand="full" (click)="shareWhatsapp()">Share with Whatsapp</ion-button>
</ion-content>
