.image-upload {
    background: #b1b1b1;
    width: 80%;
    height: 30vh;
    margin: auto;
    margin-top: 10%
}

.upload-text {
    color: #fff;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    line-height: 30vh;
}