<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Academy Swipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top" color="primary">
    <super-tab-button>
      <ion-icon name="newspaper-outline" color="light"></ion-icon>
      <ion-label>News</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="person-circle-outline" color="light"></ion-icon>
      <ion-label>Account</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="information-circle-outline" color="light"></ion-icon>
      <ion-label>About</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
        My news
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        My account
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        App about
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>